@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oregon Trail Project</h1>
    <p>
        <img src="https://benfranklinsworld.com/wp-content/uploads/2016/04/Buck-Feature.jpg" class="rounded mx-auto d-block" alt="Oregon Trail graphic" width="50%" height="50%" />
    </p>
</div>
